
@model Dev_YarinNeYapak.Controllers.KiralikEvVM

@using (Html.BeginForm(new { @class = "form-horizontal", role = "form", id = "kayitform" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="ModalBaslik" class="modal-title">Üye Düzenle</h4>
    </div>
    <div class="modal-body">
        <div class="form-group col-md-12" style="margin-bottom:5px">
            <div class="col-md-4">
                *  @Html.LabelFor(x => x.kiralikevadi)
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(x => x.kiralikevadi, new { @class = "form-control" })
            </div>
            <p class="col-md-12 text-center text-danger">
                @Html.ValidationMessageFor(x => x.kiralikevadi)
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
        <button type="submit" class="btn btn-success">Tamam</button>
    </div>
}